:root {
    --blue: #90E9FF;
    --dark-green: #007409;
    --dark-blue: #f8bbef;
    --white: #FFF;
    --light-grey: #777;
    --lighter-grey: rgb(184, 184, 184);
    --transparent-white: rgba(255, 255, 255, 0.2);
    --red: #bf0000;
}