@import url("colors.css");



* {
  font-size: 62.5%;
  margin: 0;
	padding: 0;
	border: 0;
}
html, body {
    min-height: 100vh;
}
body {
    background: url(https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
    color: #000;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
    /* container style */
    background-color: #fff;
    width: 50vw;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0rem 0rem .5rem .4rem var(--blue);
    /* center container */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* flexbox and align items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center;

}

/* login & register button styles */

div.bttns {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

button {
    width: 6rem;
    height: 1.5rem;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 0em 0em 1em  var(--blue);
    font-size: .75rem;
}
button:hover {
    background-color: var(--blue);
    box-shadow: 0em .2em  var(--blue);
}

button:disabled {
  background-color: var(--blue);
}
/* social login button styles */

.social-bttns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 44px;
    height: 44px;
}

/* media queries*/

@media only screen and (max-width: 500px) {
    
    input {
        font-size: .5em;
    }
    
    label {
        font-size: .75rem;
    }
    
    button {
        width: 4rem;
    }
    
    .container {
        height: 60vh;
        width: 75vw;
    }
    }
